# Multiple way to generate Multiplication Table

In [1]:
a = int(input("Enter a number: "))
print("The number is", a)

The number is 7

In [2]:
# using for loop
for i in range(1, 11):
    print(a, "X", i, "=", a * i)

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [3]:
# using while loop
i = 1
while i <= 10:
    print(a, "X", i, "=", a * i)
    i += 1

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [4]:
# using list comprehension
table = [a * i for i in range(1, 11)]
print("Multiplication table of", a, "is:", table)

Multiplication table of 7 is: [7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [5]:
# using map function
table = list(map(lambda i: a * i, range(1, 11)))
print("Multiplication table of", a, "is:", table)

Multiplication table of 7 is: [7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [1]:
# using filter function
table = list(filter(lambda i: i % a == 0, range(1, 101)))
print("Multiplication table of", a, "is:", table)

NameError: name 'a' is not defined