# Multiple way to generate Multiplication Table

In [2]:
a = int(input("Enter a number: "))
print("The number is", a)

The number is 5

In [3]:
# using for loop
for i in range(1, 11):
    print(a, "X", i, "=", a * i)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [4]:
# using while loop
i = 1
while i <= 10:
    print(a, "X", i, "=", a * i)
    i += 1

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [5]:
# using list comprehension
table = [a * i for i in range(1, 11)]
print("Multiplication table of", a, "is:", table)

Multiplication table of 5 is: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [6]:
# using map function
table = list(map(lambda i: a * i, range(1, 11)))
print("Multiplication table of", a, "is:", table)

Multiplication table of 5 is: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [7]:
# using filter function
table = list(filter(lambda i: i % a == 0, range(1, 101)))
print("Multiplication table of", a, "is:", table)

Multiplication table of 5 is: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [8]:
# using reduce function
from functools import reduce
table = reduce(lambda x, y: x + [y * a], range(1, 11), [])
print("Multiplication table of", a, "is:", table)

Multiplication table of 5 is: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# using recursion
def multiplication_table(n, i=1):
    if i > 10:
        return
    print(n, "X", i, "=", n * i)
    multiplication_table(n, i + 1)
multiplication_table(a)

In [ ]:
# using generator
def multiplication_table_gen(n):
    for i in range(1, 11):
        yield n * i
table_gen = multiplication_table_gen(a)
print("Multiplication table of", a, "is:")